$exhibition-m-w:375px;
$exhibition-iframe-w:375px;
$exhibition-iframe-h:640px;
$exhibition-m-h:640px;
$exhibition-m-p:0;
$exhibition-m-bg:gainsboro;
$exhibition-m-sticky-top:74px;

$exhibition-mobile-media:(
    small:(
        hidden:true
    )
);
$exhibition-toggle-media:(
    small:(
        display:block
    )
);
$exhibtion-pc-markdown:(
    small:(
        w:auto
    )
);
@keyframes ExhibitionMobile {
    from {
        background-position: 0% 0%;
    }
    to {
        background-position: 200% 200%;
    }
}
.exhibition-wrapper{
    display:flex;
    background:$exhibition-app-bg;
    .exhibition-content{
        flex:1;
        background:$light-background-color;
        margin-right:10px;
        @include Card(1em);
    }
    .exhibition-mobile{
        position:sticky;
        top:60px;
        .mobile{
            @include Card(0);
            transition:transform .2s ease-out;
            overflow:hidden;
            position:sticky;
            top:$exhibition-m-sticky-top;
            width:$exhibition-m-w;
            height:$exhibition-m-h;
            padding:$exhibition-m-p;
            text-align:center;
            @include Radius(10px);
            iframe{
                width:$exhibition-iframe-w;
                height:$exhibition-iframe-h;
                border:none;
            }
        }
    }
    $smallMediaStr:getMediaStr(small);
    @media #{$smallMediaStr}{
        &.showMobile{
            .exhibition-mobile{
                display:block;
                margin-left:auto;
                margin-right:auto;
                .mobile{
                    transform:translateY(20px);
                }
            }
            .exhibition-content{
                display:none;
            }
        }
    }
    .exhibition-load{
        width:100px;
        height:100px;
        z-index:-1;
        @include Abs-center();
    }
}
.exhibition-toggle{
    display:none;
    position:fixed;
    bottom:10px;
    right:10px;
    background-color:rgba($color-primary,.5);
    border-radius:50%;
    width:50px;
    z-index:100;
    @include pos-center(50px);
}

.exhibtion-pc{
    background:$exhibition-pc-bg;
    .cmFire-markdown{
        width:920px;
        margin-left:auto;
        margin-right:auto;
        background:$exhibition-pc-main-bg;
        @include Card(1em)
    }
}
@include AutoMedia($exhibition-toggle-media,"exhibition-toggle");
@include AutoMedia($exhibition-mobile-media,"exhibition-mobile");
//pc markdown 小屏幕时，自动宽
@include AutoMedia($exhibtion-pc-markdown,'exhibtion-pc .cmFire-markdown');