.cmFire-container{
  height:100%;
  display:flex;
  &>.cmFire-nav{
    transition:all $ztw-transition-line;
    overflow-y:auto;
    width:$fire-nav-width;
    z-index:map-get($z-index,fireNav);
    @include Light-nav-shadow();
    .content{
      transition:opacity $ztw-transition-line;
      margin-top:$fire-nav-content-margin-top;
    }
  }
  &>article{
    position:relative;
    flex:1;
    overflow:auto;
    background:$fire-article-bg;
  }
  //隐蔽时
  &.navHide{
    //侧边导航
    .cmFire-nav{
      width:0;
      overflow-x:hidden;
      .content{
        opacity:0;
      }
    }
    //顶部导航
    .cmFire-header-main{
      padding-left:0;
    }
  }
  .tmp-header-left{
    margin-left:$cmFire-header-between-space;
  }
}
.cmFire-container-holder{
  height:$fire-bottom-holder-h;
}
.cmFire-container-body{
  background:$fire-container-body-bg;
  // padding:$fire-container-body-padding;
  min-height:$fire-body-height-base;
  min-height:$fire-body-height;
  position: relative;
  &>*{
    margin-left:auto;
    margin-right:auto;
  }
}
.cmFire-nav-shade{
  z-index:map-get($z-index,fireNavShade);
  @include Abs-full(none);
  background:rgba($deep-background-color,.2);
  position:fixed;
}

//容器内的页面，注入该样式
@include AutoMedia($fire-body-media-p,"cmFire-container-body>*");

@include SmallMedia(){
  .cmFire-nav{
    position:fixed;
    height:100%;
    transform:translate3d(-100%,0,0);
    top:0;
    left:0;
    width:$fire-nav-width !important;
    .content{opacity:1 !important}
    
  }
  .cmFire-container{
    .tmp-header-aside{
      display:none;
    }
    .tmp-header-left{
      visibility: visible !important;

    }
    &.navHide{
      .cmFire-nav-shade{
        display:block;
      }
      .cmFire-nav{
        transform:translate3d(0,0,0)
      }
    }
  }
  //顶部导航padding-left 在此分辨率下不变
  .cmFire-header-main{
    padding-left:0 !important;
  }
  
}