<div>
    <el-card>
        
    </el-card>

    <el-card>

    </el-card>

    <div class="flex">
        <el-card class="flex-2"></el-card>
        
        <el-card class="flex-1"></el-card>
    </div>
    <div class="flex">
        <div class="flex-2">
            <el-card></el-card>
            <div class="flex">
                <el-card class="flex-1">1</el-card>
                <el-card class="flex-1">2</el-card>
            </div>
        </div>
        <el-card class="flex-1"></el-card>
    </div>
</div>