
//两边距离
$cmFire-header-between-space:1rem !default;
$cmFire-avatar-len:$cmFire-header-h/3*2 !default;

.cmFire-header-base{
  color:$fire-header-color;
  height: $cmFire-header-h;
}
.cmFire-header-side-btn{
  position:relative;
  padding-left:1.4rem;
  padding-right:1.4rem;
  font-size:16px;
  height:$cmFire-header-h;
  line-height:$cmFire-header-h;
  i{
    font-size:24px;
  }
}
.cmFire-header-side-toggle-btn{
  position: relative;
  font-size:16px;
  height:$cmFire-header-h/2;
  line-height:$cmFire-header-h/2;
  padding-left:.7rem;
  padding-right:.7rem;
  i{
    font-size:16px;
  }
}

.cmFire-header-sticky{
  @extend .cmFire-header-base;
  background-color:$fire-header-bg;
  position:fixed;
  width:100%;
  left:0;
  z-index:map-get($z-index,fireHeader);
  top:0;
  @include Ztw-transition();
  transform-origin: 0% 0%;
  box-shadow:$fire-header-shadow;
  border-bottom:$fire-header-bottom;
  .cmFire-header-main{
    transition:all $ztw-transition-line;
    width:100%;
    position:relative;
    padding-left:$fire-nav-width;
    display:flex;
    justify-content: space-between;
    align-items: center;
  }
  &.scrollOver{
    // @include Light-navTop-shadow();
  }
  & .cmFire-header-aside{
    height:$cmFire-header-h;
    @include Ztw-transition();
    &._inside{
      position:absolute;
      left:$cmFire-header-between-space;
    }
    &._right{
      position:absolute;
      top:0;
      right:$cmFire-header-between-space;
    }
    &._left{
      display:flex;
      position:absolute;
      top:0;
      // left:$cmFire-header-between-space;
    }
    &._toggle{
      transform-origin:0% 0%;
      transform: scaleY(2);
    }
  }
  &.scrollToggle{
    transform:scale3d(1,.5,1);

  }
}
//外部暴露可用样式
.cmFire-header-line{
  @include line-center();
  height:100%;
}
.cmFire-header-toggle-line{
  @include line-center();
  height:50%;
}

.cmFire-header-avatar{
  width:$cmFire-avatar-len;
  height:$cmFire-avatar-len;
  margin:.2rem;
  border-radius:50%;
  @include Inline-all-center();
  @include default-bg();
  i{
    color:black;
    font-size:$cmFire-avatar-len/5*3;
  }
}