.cm-row{
    display:flex;
    flex-wrap: wrap;
    opacity:0;
    transition:opacity .3s ease;
    .cm-cell{
        margin-bottom:1rem;
        label{
            position:relative;
            display:inline-block;
            text-align:right;
            padding-right:.7rem;
        }
        .content-date{
            display:inline-flex;
            .el-date-editor:last-of-type{
                margin-left:.4rem;
            }
        }
    }
}
